:root {
  --black: #333;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  color: var(--black);
  line-height: 1.2rem;
}

* {
  box-sizing: border-box;
}